.banking_card>* {
    flex-basis: 50%;
    overflow-x: hidden;
}

.banking_card_feature {
    position: relative;
}

.banking_card_feature::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.214);
    width: 400%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
}

@media(min-width:768px) {

    .banking_card_feature::before {
        right: 0;
        top: 0;
        height: 80%;
        width: 1px;
        left: 115%;
        border-radius: 8px;
    }

    .banking_card_margin {
        margin-top: 140px;
    }
}