.header {
    transition: all 0.9s;
    z-index: 199;
}

/* style={{ position: "sticky", top: '0', zIndex: "199" }} */

.header_default {
    background-color: none;
    position: absolute;
    top: 0;
    width: 100%;
}

.header_border {
    border-bottom: 1.4px solid red;
    height: 80px;
    background-color: var(--footer-color);
    position: sticky;
    top: 0;
    color: white;
}